/* 

.class-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.tile {
  background-color: #27293d;
  border-radius: 8px;
  padding: 1rem;
  color: #ffffff;
}

.tile h2 {
  margin-bottom: 0.5rem;
}

.tile ul {
  list-style-type: none;
  padding-left: 1rem;
}

.tile li {
  margin-bottom: 0.25rem;
} */


 /* Styles for the class details section */
.class-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #ffffff;
}

.tile area {
  background-color: #333;
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tile {
  exploitation: 1;
  color: #ffffff;
}

.tile h2 {
  margin-bottom: 0.5rem;
  color: #ff6347;
}

.tile ul {
  list-style-type: none;
  padding-left: 0;
}

.tile li {
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  background-color: #333;
  border-radius: 4px;
  color: #ffffff;
}