.App {
  text-align: center;
  background-color: #1e1e2f;
  min-height: 100vh;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: #27293d;
  padding: 20px;
  color: #61dafb;
}

.App-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.toggle-details {
  align-self: flex-end;
  margin-bottom: 10px;
  padding: 10px 20px;
  background-color: #61dafb;
  color: #1e1e2f;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.content-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.project-details {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 20px;
}

.project-overview,
.external-dependencies {
  background-color: #27293d;
  border-radius: 10px;
  padding: 20px;
  flex: 1;
}

.external-dependencies ul {
  list-style-type: none;
  padding: 0;
  text-align: left;
  max-height: 200px;
  overflow-y: auto;
}

/* .visualization-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 500px;
} */

.visualization-container {
  flex: 1;
  display: flex;
  width: 100%;
  height: calc(100vh - 180px); /* Adjust based on your header and other elements */
  overflow: hidden;
}

.visualization {
  width: 100%;
  height: 100%;
}

/* New styles for ClassDetailPage */
.class-detail-page {
  background-color: #27293d;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
}

.class-detail-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.back-button {
  padding: 10px 20px;
  background-color: #61dafb;
  color: #1e1e2f;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.class-detail-content {
  display: flex;
  gap: 20px;
}

.left-panel,
.right-panel {
  flex: 1;
}

.class-graph,
.class-metrics,
.class-info {
  background-color: #1e1e2f;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

.class-info section {
  margin-bottom: 20px;
}

.class-info h2 {
  color: #61dafb;
  border-bottom: 1px solid #61dafb;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.class-info ul {
  list-style-type: none;
  padding: 0;
}

.class-info li {
  background-color: #27293d;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
}